.nav{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #c0c0c0;
}

.nav li {
    display: inline;
}

.nav ul {
    display: inline;
}

.nav a {
    padding: 14px 10px;
}

.navigation-logo {
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.align-header-center {
    text-align-all: center;
    padding-left: 180px;
}

.jumbotron {
    background-image:url('http://goo.gl/04j7Nn');
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron h1{
    padding-top: 275px;
    color: #c0c0c0;
}

.backgroundTopContent {
    padding: 15px;
}

.backgroundBottomContent {
    padding-bottom: 25px;
}

.bottomContentImage {
    padding-top: 50px;
}

.footer {
    background-color: #c0c0c0;
    padding-top: 5px;
    padding-bottom: 5px;
}